/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: forestgreen;
}

/* We added an image border to the sections, the other two just use a color. */
.section {
  border-radius: 25px;
  padding: 20px;
  border: 30px solid;
  margin: 10px;
  max-width: 870px;
  border-image: url(../Trippy-Tie-Dye.jpg) 30 round;
}

/* We changed the color background of the sections. */
#courses {
  background-color: lawngreen;
}

#pslo {
  background-color: lawngreen;
}

#faculty {
  background-color: lawngreen;
}

/* changed font and padding of pictures */
#faculty>ul>li {
  display: inline-block;
  font-family: "Comic Sans MS";
  padding: 50px;
}

/* We added an image border to the photos of professors, the other two just use a color. */
img.pic {
  height: 150px;
  border: 10px solid transparent;
  border-image: url(../crop.jpg) 30 round;
}
