/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
/* changed background color*/
body{
    padding: 30px;
    background-color: #e7e7e7;
}
/*Stylize title*/
#main-title{
  color: darkblue;
  font-family: "Comic Sans MS";
  text-shadow: 5px 5px lightblue;
}

/*changed text color, added a shadow,added a background color, added a border, and added border image*/
#pslo{
  padding-left: 10px;
  background-color: lightgrey;
  color: darkred;
  border: 20px solid transparent;
  border-image: url(../flag_stars.jpg) 100 round;
}
#courses{
  padding-left: 10px;
  background-color: lightcoral;
  color: blue;
  border: 20px solid transparent;
  border-image: url(../flag_stars.jpg) 100 round;
}

#faculty {
  padding-left: 10px;
  background-color: lightblue;
  color: black;

  border: 20px solid transparent;
  border-image: url(../flag_stars.jpg) 100 round;
}

/*Grouping rule*/
/* added dotted outline to the styles */
#style, #validation {
  padding-left: 10px;
  outline-style: dotted;
  outline-color: red;
}

#style {
  position: fixed;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}

#style ul {
  list-style-type: none;
  padding-right: 10px;
}

#style li {
  float: left;
}

#style li a {
  padding: 14px 16px; /*this adds some spacing around the items in our style footer*/
}

/*nesting rule*/
/*using inline-flex instead of inline-block*/
#faculty>ul>li {
  display: inline-flex;
  font-family: sans-serif;
  padding: 10px;
}

/*hides pictures if moused over*/
/*it's strange to let people touch your face on the internet*/
/*it's not a very useful feature in this project, but it could be in another*/
/*added a border to fix spacing issues with text*/
img.pic {
  height: 150px;
  visibility: visible;
  border: 20px solid transparent;
}

img.pic:hover {
  height: 150px;
  visibility: hidden;
  border: 20px solid transparent;

}
